.ccs-bc-hero-video {
	margin-top: -10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.ccs-bc-hero-video iframe {
	width: 100%;
	max-width: 600px;
	min-width: 270px;
	height: 320px;
	margin: 0 auto;
}

.ccs-bc-startdates table {
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}

.bootcamp-dates {
	background: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}

.bootcamp-dates table,
.bootcamp-dates td,
.bootcamp-dates th {
	border: none;
}

.bootcamp-dates-title {
	padding: 15px;
	background: linear-gradient(140deg, #3BA9D2, #004C95);
	color: white;
}

.bootcamp-dates-header {
	font-size: 20px;
	margin-top: 0;
}

.bootcamp-dates .ccs-col {
	padding: 20px;
	flex-grow: 1;
    flex-basis: 0;
}

.bootcamp-dates .ccs-col:not(:last-of-type) {
	border-right: 1px solid #EEE;
}

.bootcamp-dates-content {
	display: flex;
	flex-wrap: wrap;
}

.bootcamp-dates-item {
	display: block;
	font-size: 16px;
}

@media screen and (max-width: 1300px) {
	.bootcamp-dates-content {
		flex-direction: column;
	}
	.bootcamp-dates .ccs-col { border: none; 
		border-bottom: 1px solid #eee;
        width: 100%; 
	}
}