body {
    color: #363636;
}

.logo img {
	max-width: 170px;
}

/* CCS Styles */
.header-main, .header-sticky {
	background:#000 !important; 
}

.ccs-btn {
	cursor:pointer;
	position:relative;
	outline:none;
	background:#F3963C;
	color:#fff;
	font-size: 16px;
	z-index:5;
	border-radius:5px;
	display: inline-block;
	padding: 10px 20px;
	overflow: hidden;
	transition: background-color 0.2s;
	box-shadow: 0 0 10px -3px rgba(0,0,0,0.3);
}

.ccs-btn-alt {background-color: #3BA9D2;}
.ccs-btn-white {background-color: #fff;color: #000;}
.ccs-btn-white:hover {color: black !important;}
.ccs-btn-white::before {background-color: rgba(0,0,0,0.5) !important;}
.ccs-btn:hover {color: #fff;}
.ccs-btn:hover::before {transform: rotateZ(15deg) translateX(-50px) translateY(-10px);opacity: 0;}

.ccs-btn::before {
	content: '';
	background: rgba(255,255,255,0.5);
	z-index: 15px;
	position: absolute;
	width: 200%;
	height: 100px;
	transition: transform 0.4s ease-in-out, opacity 0.4s;
	transform: rotateZ(15deg) translateX(-120%) translateY(-10px);
}

.ccsla-btn {
	background:#F3963C;
	color:white;
	border-radius:5px;
	padding:15px;
	font-size:14px !important;
}

.ccs-heading-icon  span.icon {
	position:relative;
	top:-10px;
	margin-right: 15px;
	font-family: Arial, sans-serif;
	font-size:62px;
	color: #3BA9D2;
}

.flex-grid {
	display: flex;
	align-items: center;
	overflow-x: auto;
}

.col {
	flex: 1;
}

@media (max-width: 400px) {
	.flex-grid {
		display: block;
	}
}

.ccsla-bootcamp-secondary-nav {
	display: block !important;
}

.ccsla-bootcamp-secondary-nav.nav-fixed{
	width: 100vw !important;
}

.ccsla-bootcamp-secondary-nav .vc_column_container {
	float: none !important;
	display:flex;
	max-width:1200px;
	justify-content:center;
	margin:0 auto;
}

#ccsla-program-highlights .elementor-icon-list-icon {
	color: green !important;
}

.ccs-heading-icon svg {
	position:relative;
	top:-50px;
	left:0px;
	font-size:92px;
	margin-right:20px;
	margin-left:20px;
	color: #fff !important;
}

.ccs-call-to-action .eael-call-to-action .cta-button {
	transition: box-shadow 0.2s;
}

.ccs-call-to-action .eael-call-to-action .cta-button:hover {
	background:#000 !important;
	color:#fff !important;
	box-shadow:0 0 0 5px rgba(0,0,0,0.2);
}

.ccs-call-to-action .eael-call-to-action .cta-button:hover ::after {
	background:#000 !important;
	color:#fff !important;
}

.ccsla-bootcamp-secondary-nav {

}

.ccs-heading-icon .elementor-heading-title {
	display:flex;
	margin-bottom: -50px;
	margin-top:10px;
}

.ccs-call-to-action p{
	color:black;
}

.ccs-w100 {
	width:100%;
}

.ccs-w100 .elementor-container {
	width:100%;
}

.ccsla-advantage .elementor-icon-box-title { margin-top: 0; }
.ccsla-advantage .elementor-icon-box-icon { margin-right: 25px; }
.ccsla-advantage .elementor-icon-box-icon svg { width:100px !important; }
/* END CCS Styles */

/* CCS Helpers */
.ccs-flex-align-center {
	align-items: center;
}
.ccs-row {
	display:flex;
	gap: 20px;
}
/* END CSS Helpers */

/* Carousel */
#hero_carousel .owl-next, #hero_carousel .owl-prev {
	border-radius:100% 100%;
	width: 50px !important;
	height: 50px !important;
	background-size: 12px !important;
  background-position: 17px 15px !important;
}

#hero_carousel .owl-next { margin-left:-30px; }
#hero_carousel .ccs-row { align-items: center; gap: 55px !important; }
#hero_carousel .owl-prev { margin-right:-30px; }
#hero_carousel .ccs-image-wrapper { min-width: 300px; max-width: 50%; }
#hero_carousel .ccs-image-wrapper img { max-width: 100%; height: auto; border-radius: 5px;}
#hero_carousel .ccs-carousel-content { max-width: 50%; min-width: 300px; }
.carousel-item-wrapper 		{ max-width: 1100px; margin: 0 auto; }
.carousel-item-wrapper h4 { margin-bottom: 0; margin-top:0; }
.carousel-item-wrapper h2 { margin-top: -10px; font-size: 44px; }
.carousel-item-wrapper h5 { margin-bottom: 10px; font-size: 18px; }
.carousel-item-wrapper p 	{ margin-bottom: 35px; font-size: 16px; max-width: 800px; }
.carousel-item-wrapper .ccsla-btn:hover {color:white; }

#testimonials .sa_hover_container { border-radius:10px; }

@media (max-width: 1000px) {
	#hero_carousel .ccs-image-wrapper {
		display: none;
	}
}
/* END Carousel */

/* Testimonial section */
#testimonials .owl-item {
	border-radius: 10px;
	background: #f5f5f5;
}

.ccs-testimonial-content::before {
	content:'“';
	position: absolute;
	font-size: 200px;
	color: #3BA9D2;
	top: -35px;
	left: 50px;
	z-index: -1;
}

.ccs-testimonial-author span:first-of-type { font-weight: bold; }
.ccs-testimonial-author span:last-of-type::before { content: '/'; margin-left: 10px; margin-right: 10px; }
.ccs-testimonial-author span:last-of-type { font-size: 14px; color: #555; }

/* END Testimonial section */

/* Hero Contact */
.ccs-form-element-hidden { visibility:hidden !important; width: 1px; height: 1px;}
.ccs-form { font-family: 'Open Sans', sans-serif !important; color: #000 !important;}
.ccs-form label { color: #000; margin-bottom: 5px; font-weight: 500 !important; font-size: 16px;}
.ccs-form input, .ccs-form textarea { 
	margin:0; 
	min-width:220px; 
	border-radius: 5px; 
	font-size: 14px; 
	padding: 10px;
	border: 1px solid #DDD;
	background: #f5f5f5;
	outline: none;
	transition: box-shadow 0.2s;
}

.ccs-form input:focus, .ccs-form textarea:focus {
	border-color: #AAA;
}

.ccs-form .ccs-row { margin-top: 20px; margin-bottom: 20px; flex-wrap: wrap;}
.ccs-form textarea { width: 600px; min-width: 220px; min-height: 100px; }
.ccs-captcha { display:flex; align-items: center; }
.ccs-form-submission button { transition: background-color 0.2s; padding: 15px; background: #000; border: none; border-radius: 5px; font-size: 16px; min-width: 140px; text-align: center; color: white; margin-top: 10px;}
.ccs-form-submission button:hover { background-color: #333; }

/* END Hero Contact */

/*********************** DANGER BELOW ************************/

/* Theme style overrides */
/* Widget: Toggle */
.vc_toggle {
	margin-bottom: 15px;
}

.vc_toggle .vc_toggle_title {
	font-size: 18px;
	padding: 10px;
	margin: 0;
}

.vc_toggle .vc_toggle_icon {
	margin-left: 10px;
}

.vc_toggle .vc_custom_heading {
	padding: 0;
	margin: 0;
	margin-left: 8px;
	font-size: 18px;
}

.vc_toggle .vc_toggle_content {
	background: #f5f5f5;
	margin-top: -10px;
	border-radius: 5px;
	padding: 35px 10px 20px 10px;
}

.vc_toggle .vc_toggle_content p:first-of-type {
	margin-top: 0;
}

/* Widget: Action */
.widget-action {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.widget-action .title {
	margin-bottom: 10px !important;
}

.widget-action .description {
	
}

.widget-action .btn {
	border-radius: 5px !important;
}

.flexible-all-content {
	display: none;
}
.widget-features-box .feature-box .feature-box-inner h3.ourservice-heading {
    color: #ffffff !important;
}
/* sticky menu */
@media only screen and (min-width: 768px) {
	.nav-fixed {
		position: fixed !important;
		left: 15px !important;
  	z-index: 9 !important;
	}
}
/* end sticky menu */

.widget-features-box {
	border: 1px solid #dddddd;
}

.widget-features-box .row-item.clearfix {
	background-color: white;
}

.widget-features-box .feature-box .feature-box-inner h3.ourservice-heading {
	color: #333333;
}

.content-toggle-1 > div.activeCourseLength {
	color: white !important;
	background-color: #3ba9d2 !important;
}

.content-toggle-1 > div.activeCourseLength a {
	color: white !important;
	display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.content-toggle-1 > div.nonActiveCourseLength {
	color: #3ba9d2 !important;
	background-color: #eeeeee !important;
}

.content-toggle-1 > div.nonActiveCourseLength a {
	color: #3ba9d2 !important;
	display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

/* wpb floating menu */
.wpb-fmc-floating-menu.wpb-fmc-floating-menu-left.wpb-fmc-floating-menu-or-category-default.wpb-fmc-floating-menu-or-category-disable-phone-on {
	z-index: 999;
	left: 8rem;
	margin-top: -50px;
}

.wpb-fmc-floating-menu .menu-floating-menu-container {
	border: 1px solid #dddddd;
}
/* end wpb floating menu */


/* Toggle divs for CCS 360 */
.price-content {
	border-top: solid 10px #004C95;
	background-color: #FFFFFF;
	border-radius: 8px;
	padding: 5px;
	padding-bottom: 40px;
}
.wpsm_nav {
	font-weight: bold;
	border-radius: 5px;
}


/* floating nav menu for bootcamp pages */
.floating-menu {
	font-family: sans-serif;
  background: yellowgreen;
  padding: 5px;
  width: 15%;
  z-index: 100;
  position: fixed;
	bottom: 10px;
}
.floating-menu a, 
.floating-menu h3 {
	font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white;
}

/*styling Bootcamp FAQ toggles*/
.reg-faq .vc_toggle_title {
	background-color: #f9fafc !important;
}
.reg-faq .vc_toggle_content {
	margin-top: -10px !important;
	margin-bottom: 20px;
}
/*end styling Bootcamp FAQ toggles*/


/*styling Bootcamp start dates table*/
.bootcamp-dates th {
	background: linear-gradient(140deg, #3BA9D2, #004C95);
	color: #FFF;
	padding-left: 20px;
}
.bootcamp-dates tr {
	background: #FFF;
}
.bootcamp-dates td {
	padding: 20px;
}
.bootcamp-dates p + ul {
	margin-top: -10px;
}
/*end styling Bootcamp start dates table*/

/*popup maker edits*/
.popmake-content h3 {
    margin-top: .5em;
    padding-top: 0;
}

/* making the links under search have underline and be white */
.search-link {
	color: #FFFFFF !important;
}
.search-link:hover {
	text-decoration: underline !important;
}

/* Lightbox on About page */
.popup {
  position: relative;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  background-color: #FFFFFF;
	border: solid 3px #3BA9D2;
  color: #000000;
	box-shadow: 5px 5px 10px #666;
  text-align: left;
  border-radius: 6px;
  padding: 0px 10px 10px 20px;
  position: fixed;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
  z-index: 1;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* search bar */
.search-form {
	margin-left: auto !important;
	margin-right: 17px !important;
	position: relative;
	top: 7px;
	left: 70px;
}

.search-form input.form-control {
	height: 40px !important;
	width: 0;
	float: right;
	border-radius: 5px;
	opacity: 0;
}
.search-form input.form-control.searchAnimation {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
	opacity: 100;
	width: 50%;
}
.search-form span.input-group-btn {
	z-index: 9999 !important;
}
.search-form span.input-group-btn button {
	border-radius: 2px !important;
	height: 40px !important;
}
.search-form .input-group-btn>button {
	margin-top: 21px !important;
	background-color: #3BA9D2;
	height: 30px;
	border-radius: 5px;
	border: solid 1px #3BA9D2;
	padding: 2px 15px 5px 15px;
}

.search-form .input-group-btn>button:hover {
	opacity: 50;
	color: white;
}
.hidden-xs.hidden-sm.apus-megamenu.slide.animate.navbar div ul#primary-menu {
	margin-top: -60px;
}
.hidden-xs.hidden-sm.apus-megamenu.slide.animate.navbar div ul#primary-menu>a.dropdown-toggle {
	/*margin-top: -10px;*/
}

/* making header menu thinner */
.header-main {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	min-height: 95px !important;
	max-height: 95px !important;
	height: 95px !important;
}

.active-mobile .offcanvas {
	margin-top:10px;
}

#apus-header-mobile {
	position:relative !important;
}

#apus-header-mobile .logo img {
	max-width: 120px !important;
}

.headertop {
	max-height: 125px !important;
}
div.logo-in-theme.text-center {
	margin-top: 15px;
}

#apus-main-content {
	margin-top: 0px !important;
	display: inline !important;
}

#apus-main-content .container.inner {
	margin-top: -20px !important;
}

.header-main .container {
	/*margin-bottom: 0px !important;
	padding-bottom: 0px !important;*/
}

/* making the Live courses dropdown 2 columns */
li.menu-item-554858 ul.dropdown-menu {
	width: 410px
}

li.menu-item-554858 ul.dropdown-menu li {
	display: inline-block;
	float: left;
	width: 200px;
}

li.menu-item-554858 ul.dropdown-menu li:nth-child(odd) {
	float: left;
	margin-right: 10px;
}

li.menu-item-554858 ul.dropdown-menu li:nth-child(even) {
	float: right;
	width: 200px;
}

/* making the eLearning courses dropdown 2 columns */
li.menu-item-554857 ul.dropdown-menu {
	width: 410px;
}

li.menu-item-554857 ul.dropdown-menu li {
	display: inline-block;
	float: left;
	width: 200px;
}

li.menu-item-554857 ul.dropdown-menu li:nth-child(odd) {
	float: left;
	margin-right: 10px;
}

li.menu-item-554857 ul.dropdown-menu li:nth-child(even) {
	float: right;
	width: 200px;
}

/* making the Courses by Practice Area dropdown 2 columns */
li.menu-item-556696 ul.dropdown-menu {
	width: 610px;
}

li.menu-item-556696 ul.dropdown-menu li {
	display: inline-block;
	float: left;
	width: 300px;
}

li.menu-item-556696 ul.dropdown-menu li:nth-child(odd) {
	float: left;
	margin-right: 10px;
}

li.menu-item-556696 ul.dropdown-menu li:nth-child(even) {
	float: right;
	width: 300px;
}

/* making the price on the CISSP page bigger */
.post-552989 .amount {
  font-size: 1.5em;
}

/* making a new button class */
.std-btn {
	color: #FFFFFF;
	background-color: #3974AC;
	border: solid 2px #3974AC;
	padding: 20px 30px 20px 30px;
	border-radius: 5px;
}

.std-btn:hover {
	color: #3974AC;
	background-color: #FFFFFF;
	border: solid 2px #3974AC;
}

.ccs-btn-primary {
	color: #FFF;
	background-color: #F3963C;
  border: 0px;
	padding: 15px 25px;
	border-radius: 5px;
	transition:background-color 0.2s;
}

.ccs-btn-primary:hover {
	background-color: #eb8522;
}

.std-teal-btn {
	color: #FFF;
	background: linear-gradient(140deg, #3BA9D2, #004C95);
  border: 0px;
	padding: 20px 30px 20px 30px;
	border-radius: 5px;
}

.std-teal-btn:hover {
	color: #FFF;
	background: linear-gradient(140deg, #EAC04E, #F3963C);
	border: 0px;
	padding: 20px 30px 20px 30px;
	border-radius: 5px;
}

.std-teal-btn-small {
	color: #FFF;
	background: linear-gradient(140deg, #3BA9D2, #004C95);
  border: 0px;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.std-teal-btn-small:hover {
	color: #FFF;
	background: linear-gradient(140deg, #EAC04E, #F3963C);
	border: 0px;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.std-white-btn {
	color: #3BA9D2;
	background-color: #FFFFFF;
	padding: 20px 30px 20px 30px;
	border-radius: 5px;
}

.std-white-btn:hover {
	color: #FFFFFF;
	background-color: #3BA9D2;
}

.std-orange-btn-small {
	color: #FFFFFF;
	background: linear-gradient(140deg, #EAC04E, #F3963C);
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.std-orange-btn-small:hover {
	background-color: #EAC04E;
	color: #FFFFFF;
}

.std-white-btn-small {
	color: #F3963C;
	background-color: #FFFFFF;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.std-white-btn-small:hover {
	background-color: #EAC04E;
	color: #FFFFFF;
}

.std-whiteblue-btn-small {
	color: #222222;
	background-color: #FFFFFF;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	display: block;
	min-width: 150px;
	font-size:16px;
	margin:10px;
}

.std-whiteblue-btn-small:hover {
	background: linear-gradient(140deg, #3BA9D2, #004C95);
	color: #FFFFFF;
}

.std-btn-small {
	color: #FFFFFF;
	background-color: #3974AC;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}

.std-btn-small:hover {
	color: #FFFFFF;
	background-color: #3F81C0;
}

.menu-btn {
	margin-top: -20px;
	font-weight: bolder !important;
	font-family: "Lato", Arial, sans-serif;
	letter-spacing: 0px;
	color: #2365A3;
	background-color: #FFFFFF;
	padding: 10px 20px 10px 18px;
	border: 1px !important;
	border-radius: 5px;
}

.menu-btn:hover {
	color: #FFFFFF;
	background-color: #3BA9D2;
}
/* ------------------ */

.equalDivide tr td { 
	width:25%;
	border: 0px solid transparent;
	padding-left: 10px;
	padding-right: 10px;
}

/* CTA bar color across site */
.cta-bar {
	background-color: #247D9E;
	color: #FFFFFF;
}

.cta-bar .btn {
	border-radius: 5px !important;
	color: #247D9E;
	background-color: #FFFFFF;
	border: solid 2px #3BA9D2;
	padding-top: 15px;
}

.cta-bar .btn:hover {
	color: #FFFFFF;
	background-color: #fac900;
	border: solid 2px #FFFFFF;
	padding-top: 15px;
}


/* Accordion for Bootcamp Modules */ 
.vc_toggle_title {
    background-color: #3BA9D2;
	  border-radius: 5px;
	  padding: 0px 5px 0px 5px;  
}

.vc_toggle_icon {
	margin-left: 5px;
	margin-right: 15px;
}


.orange-gradient {
	background: linear-gradient(140deg, #EAC04E, #F3963C);}
}

.light-orange-gradient {
	background: linear-gradient(140deg, #ffdd80, #f2b06f);}
}

.ccs-blue-gradient {
	background: linear-gradient(140deg, #3BA9D2, #004C95);}
}


/* Force Image Hover Zoom */
.img-hvr-zoom {
  transition: transform .3s;
}

.img-hvr-zoom:hover {
	transform: scale(1.1);
}

/* Force behind Features Widget */
.back-force {
  position: absolute;
  left: 0px;
  top: -20px;
  z-index: -1;
}

/* Styling Links for Bootcamps */
.a-u:hover {
	text-decoration: underline;
}

/* Possible Montserrat font matching
h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700 !important;
}

body {
	font-family: 'Open Sans', sans-serif !important;
}  */

.feature-box {
	padding: 20px 20px 20px 30px !important;
}

p, button,
input {
  line-height: 1.5;
  margin-top: 1.5em;
	font-weight: 500 !important;
}

a {
	color: #237A9A;
}

.white-text .title {
	color: #FFFFFF !important;
}

.white-shadow-box {
	width: 100%;
	background: #FFFFFF;
	padding: 10px 15px 15px 20px;
	border-radius: 3px;
	box-shadow: 5px 5px 8px #000000;
}

.wrapper-shop .sidebar-right {
	display: none;
}

.archive-shop {
	width: 100%;
}

.apus-social-share {
	visibility: hidden;
}

/* Styling the buttons in the product table */
.wcpt-product-link {
	background-color: #3b6390 !important;
	border-radius: 5px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.wcpt-product-link:hover {
	background-color: #4a82c3 !important;
	border-radius: 5px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.blue-gradient-row {
	background-image: linear-gradient(140deg, #3F81C0, #2365A3);
}

.blue-gradient-text {
  font-size: 72px;
  background: -webkit-linear-gradient(#3F81C0, #2365A3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*.header-main {
	padding-top: 15px;
	min-height: 120px;
	vertical-align: center;
}*/

.top_search_box {
	/*text-align: center;*/
}

body {
	font-size: 1.8em;
}

.centered {
	text-align:center;
}

.yith-ywraq-mail-form-wrapper .woocommerce-error.woocommerce-message {
	display:none;
}

.media-info .title {
	font-size: 16pt;
}

.wpcf7-submit.btn {
	background-color:#34628e	!important;
	color: #FFFFFF;
}

.wpcf7-submit.btn:hover {
  background-color: #3f81c0	!important;
	color: #FFFFFF;
}

.wpem-form-group .ui-button-text{
	font-size:12pt;
	font-weight: normal;
	font-family: sans-serif;
	padding: 0px !important;
}


/* Tried this to hide PDF download on shop page only but also hides on product pages :()
.wrapper-shop .wc-store-catalog-pdf-download {
	visibility:hidden;	
}
*/

.wc-store-catalog-pdf-download-link.button {
	background-color:#34628e	!important;
}

.wc-store-catalog-pdf-download-link.button:hover {
  background-color: #3f81c0	!important;
}

a.wcpt-title {
	font-weight: bold;
}

.top_search_box label {
	color: white !important;
}

.top_search_box .search_title {
	margin-top: -10px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
}

.top_search_box .p_select {
/*	width: 22%;*/
}

.top_search_box .fnd-btn {
	margin-top: 20px;
}

.top_search_box .fnd-btn input {
	background-color: #3f81c0;
	border-color: white;
	border-radius: 3px;
	color: white;
}

.btn:hover {
	color: #3f81c0;
}

.wc-store-catalog-pdf-download-link .button {
	background-color: #34628e;
}

.book-author {
	display: none;
	margin-bottom: 0;
}

.book-author2 {
	display: none;
}

.main-sticky-header {
	background-color: #34628e;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

a.bootcamp-anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.product-block-grid .add-cart {
		display:none;
		visibility: hidden;
}

select#dates {
	max-width: 75%;
}

.woocommerce div.product .grid .caption .meta {
	height: 48px;
}

.owl-controls .owl-prev, .owl-controls .owl-next {
	height: 42px !important;
	width: 42px !important;
}

.home .owl-controls .owl-prev, .home .owl-controls .owl-next {
	height: 42px !important;
	width: 32px !important;
}

.wpcf7-form-control-wrap > input {
	margin-bottom: 10px !important;
}

.wpcf7-form-control-wrap > textarea {
	margin-bottom: 10px !important;
}

.wpcf7-form-control-wrap > span {
	margin-bottom: 37px;
}

.dropdown.menu-item-37499 ul, .dropdown.menu-item-553199 ul {
	column-count: 3;
}

.sfsi_shortcode_container {
    float: right;
    position: relative;
    left: calc(25vw - 215px);
    margin-top: -18px;
    margin-bottom: -50px;
}

@media only screen and (max-width: 1500px) {
	.sfsi_shortcode_container {
		left: calc(25vw - 305px);
	}
}

@media only screen and (max-width: 600px) {
  .wpb_wrapper .owl-carousel .owl-controls   {
	  position: relative;
		margin-top: 20px;
  }

  .home .wpb_wrapper .owl-carousel .owl-controls   {
		margin-top: 0px;
		margin-left: 250px;
  }
}